h1, h2, p, h5, h6{
    font-family: Arial, Helvetica, sans-serif !important;
}
h1,footer h4, footer h6{
    color: white !important;
}

h2, p, h5, h6{
    font-family: Arial, Helvetica, sans-serif !important;
    color: #424141 !important;
}
body{
    background-color: rgb(238, 238, 238);
}
p{
    font-size: 20px;
    margin-top: 10px !important;
}
/* .news_section .history-section{
    margin-top: 40px;
    border-bottom: 1px solid   #7c2225;
} */
.navbar-toggler{
    border: none !important;
    justify-content: flex-end !important;
}
.navigation-section{
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    /* position: sticky; */
    position: fixed;
    z-index: 10 !important;
}
.navbar .container-fluid {
    background: rgba(217, 217, 217, 0.1) !important;
    width: 100% !important;
    margin: 0px !important;
}
.navbar-brand img{
    position: absolute;
    align-items: end !important;
    width: 15% !important;
    left: 15px;
    top: 5px;
}
.active{
    background-color: rgba(217,217,217,0.67) !important;
    border-bottom: 10px solid rgba(79,68,153,1) !important;
}
.nav-link{
    text-align: end;
    padding: 10px !important;
}
.header{
    background-image: url('../img/primer\ cuatri.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-position: center;
}

.lema{
    position: absolute;
    width: 350px;
    height: 194px;
    right: 10px;
    top: 150px;
    z-index: 1;
}
.lema h1{
    font-family: 'Inter';
    font-size: 40px;
    line-height: 50px;
    text-align: right;
    color: aliceblue;
}
.lema h1 span, .box-titulo-articulo span{
    font-weight: bold;
    color: #CD3034;
}
section div{
    max-width: 1200px !important;

}
/* .card-group {
    margin-top: 150px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.card-title{
    margin: 20px;
    border-bottom: 7px solid #4F4499;
    z-index: 20;
} */

/* .card{
    margin: 10px !important; 
    margin-top: 50px;
} */
.btn-leer{
    position: absolute;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 30px;
    margin-right: 30px;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    color: #877C54;
    } 
.div-leer{
    margin-left: 70px;
    width: 70%;
    height: 50px;
    border: 1px solid  #877C54 !important ;
    display: flex;
    justify-content: center;
    align-items: flex-start;
} */
 .leer{
    padding-bottom: 20px;
} 
/*
.col{
    margin-left: 30px;
}
.history-tittle{
    margin: 15px;
}
.history-div{
    padding-top: 50px;
    padding-bottom: 50px;
}
.history-text{
    margin-bottom: 30px;
}
.separador{
    background: linear-gradient(180deg, rgba(181, 158, 28, 0.574) 0%, rgba(255,255,255,0) 100%);
    width: 100%;
    height: 70px;
}
.article-header{
    display: flex;
    border-bottom: 10px solid #4F4499;
}
.article-header div{
    width: 56px;
    height: 48px;
    background-color: #CD4130;
}
.article-header h2{
    padding-top: 8px;
    width: 100%;
    font-weight: lighter !important;
}
.article-header span{
    font-weight: bold;
}
.article-sub-news{
    background-color: rgba(181,150,28,0.37) !important;
    height: 60px !important;
    width: 40px !important;
}
.article-sub{
    background-color: rgba(181,150,28,0.37) !important;
    height: 35px !important;
    width: 40px !important;
}
.article-sub + h2{
    font-size: 20px;
}
.card-news{
    box-shadow: 4px 4px 12px 0px rgb(174, 174, 174);
}
.card-news h2{
    font-size: 20px;
}
.btn-class{
    border: 2px solid #877C54 !important;
    border-radius: 0px !important;
    /* padding-left: 100px !important;
    padding-right: 100px !important;   */
    color: #877C54 !important; 
    font-weight: bold !important; 
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    /* margin-left: 24px !important; */
    /* margin-right: 24px !important; */
    width: 100%;
}
.team-card h5{
    margin-top: 10px;
    font-size: 15px !important;
    text-align: center;
    font-weight: bold;
}
.team-card h6{
    margin-top: -4px;
    font-size: 15px !important;
    text-align: center;
}
.box-img-hist-home{
    height: 400px !important;
    overflow: hidden;
}
footer{
    background-color: #476157;
}
.footer-escudo img{
    width: 93px;
    height: 136px;
}
footer h4{
    font-size: 14px;
    text-align: end;
    font-weight: 300 !important;
}
footer h6{
    font-size: 12px;
    font-weight: 100 !important;
    font-stretch: expanded !important;
}
footer span img{
    width: 16px;
    height: 14px;
    margin-left: 11px;
}
footer .social img{
    width: 31px;
    height: 31px;
}
footer .social hr{
    background-color: white !important;
    border: none !important;
    height: 2px;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 10px !important;
    margin-top: 20px !important;
}
.logo-uca{
    height: 45px;
}
.logo-unicen{
    height: 40px;
    margin-top: 1px;
}
.logo-crea-mobile{
    height: 50px;
}
.header-articulo{
    background-image: url('../img/noticia_2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    width: 100%;
    background-position: center;
}
.box-titulo-articulo{
    position: absolute;
    width: 90%;
    padding-top: 20px;
    padding-bottom: 15px;
    padding-right: 25px;
    right: 0px;
    top: 150px;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 10px solid #4F4499;
}
.box-titulo-articulo h1{
    color: #747474 !important;
    text-align: right;
}
/* section{
    padding: ;
} */
/* footer div{
    max-width: 1000px;
} */
.img-noti{
    background-image: url("../img/noticia_1_cuerpo.jpg");
    overflow: hidden;
    background-position: center;
    background-size: 100%;
    height: 50vh;
}
.comments{
    margin-top: 80px;
    margin-bottom: 80px;
    max-width: 900px !important;
    border: 1px solid grey;
    padding: 50px;
}
.box-textarea{
    height: 100px !important;
}

.img-avatar1, .img-avatar2, .img-avatar3{
    background-size: cover;
    border-radius: 50%;
    width: 90px !important;
    height: 90px !important;
}
.img-avatar1{
    background-image: url("../img/avatar_1.webp");
}
.img-avatar2{
    background-image: url("../img/avatar_2.jpg");
}
.img-avatar3{
    background-image: url("../img/avatar_3.webp");
}
@media only screen and (min-width: 480px) {

    .navbar-nav{
        width: 100% !important;
        justify-content: flex-end !important;
    }
    .top-nav{
        height: 45px;
        width: 100%;
        background-color: rgba(208,211,167,0.72);
    }
    .container{
        max-width: 100% !important;
    }
    .navbar-brand img{
        position: absolute;
        align-items: end !important;
        width: 8% !important;
        left: 10%;
        top: -30px;
    }
    .lema{
        width: 800px;
        height: 194px;
        right: 90px;
        top: 200px;
    }
    .lema h1{
        font-size: 75px !important;
        line-height: 80px !important;
    }
    .h2{
        text-align: start !important;
        margin-left: 15px !important;
    }  
    .logo-uca{
        height: 80px;
    }
    .logo-unicen{
        height: 75px !important;
    }
    .logo-crea{
        height: 80px;
    }
    .footer-menu{
        margin-top: 30px;
        padding-top: 8px;
        padding-bottom: 8px;;
        border-top: 1px solid white;
    }
    .footer-menu li{
        list-style: none;
    }
    .footer-menu li a{
        text-decoration: none ;
        color: white;
    }
    footer > .container > :nth-child(2) {
        border-right: 1px solid white;
        margin-right: 20px;
        padding-right: 20px;
    }
    .box-titulo-articulo{
        position: absolute;
        width: 40%;
    }
    section>.container{
        max-width: 1100px;
        
    }
}