h1, h2, p, h5, h6{
    font-family: Arial, Helvetica, sans-serif !important;
}
h1,footer h4, footer h6{
    color: white !important;
}
h2, p, h5, h6{
    font-family: Arial, Helvetica, sans-serif !important;
    color: #424141 !important;
}
body{
    background-color: rgb(238, 238, 238);
}
p{
    font-size: 20px;
    margin-top: 10px !important;
}
.news_section .history-section{
    margin-top: 40px;
    border-bottom: 1px solid   #7c2225;
}
.navbar-toggler{
    border: none !important;
    justify-content: flex-end !important;
}
.navigation-section{
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    /* position: sticky; */
    position: fixed;
    z-index: 10 !important;
}
.navbar .container-fluid {
    background: rgba(217, 217, 217, 0.1) !important;
    width: 100% !important;
    margin: 0px !important;
}
.navbar-brand img{
    position: absolute;
    align-items: end !important;
    width: 15% !important;
    left: 15px;
    top: 5px;
}
.active{
    background-color: rgba(217,217,217,0.67) !important;
    border-bottom: 10px solid rgba(79,68,153,1) !important;
}
.nav-link{
    text-align: end;
    padding: 10px !important;
}
.header{
    background-image: url('../img/primer\ cuatri.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-position: center;
}
.lema{
    position: absolute;
    width: 350px;
    height: 194px;
    right: 10px;
    top: 150px;
    z-index: 1;
}
.lema h1{
    font-family: 'Inter';
    font-size: 40px;
    line-height: 50px;
    text-align: right;
    color: aliceblue;
}
.lema h1 span{
    font-weight: bold;
    color: #CD3034;
}
.separador{
    background: linear-gradient(180deg, rgba(181, 158, 28, 0.574) 0%, rgba(255,255,255,0) 100%);
    width: 100%;
    height: 70px;
}
.article-header{
    display: flex;
    border-bottom: 10px solid #4F4499;
}
.article-header div{
    width: 56px;
    height: 48px;
    background-color: #CD4130;
}
.article-header h2{
    padding-top: 8px;
    width: 100%;
    font-weight: lighter !important;
}
.article-header span{
    font-weight: bold;
}
.article-sub-news{
    background-color: rgba(181,150,28,0.37) !important;
    height: 60px !important;
    width: 40px !important;
}
.article-sub{
    background-color: rgba(181,150,28,0.37) !important;
    height: 35px !important;
    width: 40px !important;
}
.article-sub + h2{
    font-size: 20px;
}
.card-news{
    box-shadow: 4px 4px 12px 0px rgb(174, 174, 174);
}
.card-news h2{
    font-size: 20px;
}
.btn-class{
    border: 2px solid #877C54 !important;
    border-radius: 0px !important;
    /* padding-left: 100px !important;
    padding-right: 100px !important;   */
    color: #877C54 !important; 
    font-weight: bold !important; 
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    /* margin-left: 24px !important; */
    /* margin-right: 24px !important; */
    width: 100%;
}
.team-card h5{
    margin-top: 10px;
    font-size: 15px !important;
    text-align: center;
    font-weight: bold;
}
.team-card h6{
    margin-top: -4px;
    font-size: 15px !important;
    text-align: center;
}
.box-img-hist-home{
    height: 400px !important;
    overflow: hidden;
}
footer{
    background-color: #476157;
}
.footer-escudo img{
    width: 93px;
    height: 136px;
}
footer h4{
    font-size: 14px;
    text-align: end;
    font-weight: 200;
}
footer h6{
    font-size: 12px;
    font-weight: 100;
}
@media only screen and (min-width: 760px) {

    .navbar-nav{
        width: 100% !important;
        justify-content: flex-end !important;
    }
    /* .nav-link{
        text-align: end;
    } */
    .top-nav{
        height: 45px;
        width: 100%;
        background-color: rgba(208,211,167,0.72);
    }
    .container{
        max-width: 100% !important;
    }
    .navbar-brand img{
        position: absolute;
        align-items: end !important;
        width: 8% !important;
        left: 10%;
        top: -30px;
    }
    .lema{
        width: 800px;
        height: 194px;
        right: 90px;
        top: 200px;
    }
    .lema h1{
        font-size: 60px;
        line-height: 73px;
    }
    .article-header h2{
        text-align: start !important;
        margin-left: 15px !important;
    }   
}